<div class="buffer-both">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <em><strong><%= comment.user_name %></strong></em>
      <% else %>
      <% end %>

      <% if current_user_can_edit?(comment) %>
        <%= button_to t("users.show.destroy"),  event_comment_path(comment.event, comment), method: :delete, form: { data: { 'turbo-confirm': t('controllers.events.are_you_really_sure') } }, class: 'btn btn-danger buffer-bottom' %>
      <% end %>
    </span>
  </p>
</div>

