
<% if resource.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show buffer-top" role="alert">
      <h4>
        <% if resource.errors.count == 1 %>
          <%= t("errors_in_form.one") %>
         <% else %>
           <%= resource.errors.count %><%= t("errors_in_form.few") %>
        <% end %>
      </h4>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
