<div class="text-center">

  <%= image_tag(user_avatar(user)) %>

  <h1><%= user.name %></h1>

  <% if user == current_user %>

    <p class="buffer-top">
      <%= link_to t("users.show.editing"), edit_user_path(user),
    class: 'btn btn-success' %>
    </p>

    <p>
      <%= button_to t("users.show.destroy"), @user, method: :delete, form: { data: { 'turbo-confirm': t('controllers.events.are_you_really_sure') } },  class: 'btn btn-danger buffer-top'%>
    </p>

  <% else %>
  <% end %>

</div>
