<div class="text-center">
  <%= image_tag user_avatar(@user) %>
  <h1><%= @user.name %></h1>

  <p class="buffer-top">
  <%= link_to "Edit Profile", edit_user_path(@user),
    class: 'btn btn-default' %>
  </p>
</div>
