<%= form_with model: [@event, image], html: {multipart: true}, data: {turbo: false} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: image} %>
  <div class="form-group">
    <%= f.file_field :image, class: "form-control" %>

  </div>

  <div>
    <%= f.submit "Save", class: "btn btn-success buffer-both" %>
  </div>
<% end %>
