<span class='me-2'>Added by:

<%= render partial: 'users/image_user', locals: {user: image.user} %>

<% if current_user_can_edit?(image.event) %>
  <%= button_to 'Delete',
              event_image_path(image.event, image),
              form: { data: { turbo_confirm: "Are you sure?" } },
              method: :delete,
              class: 'btn btn-danger buffer-top' %>
<% end %>
</span>


